article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* Fonts
    font-family: 'Playfair Display', serif;
    font-family: 'Lato', sans-serif;
 */

html {
    font-size:67.5%;
}


.wrapper{
    max-width: 1280px;
    width:80%; /*wrapper will take 80% of the page*/
    margin: 0 auto;
}

.outerWrapper {
    max-width:1440px;
    width:91%;
    margin:0 auto;
    
}

/* HEADER STYLES */

header{
    background: url(../Assets/image-1.jpg);
    background-size:cover;
    background-position:center;
    height:100%;
    position: relative;
    
}


h1{
    font-family:'PlayfairDisplay', serif;
    font-size: 4.2rem;
    line-height:1.5;
    color:white;
    width: 50%;
    float:left;
    text-align: left;
    margin-top:10px;
}

/* 'welcome to shutter' */
.shutter {
    /* position: absolute; */
    /* width:476px; */
    margin: auto;
    /* left:561px; */
    /* top:555px; */
    text-align: center;
}

.shutter span {

 }
/* h2 {
    position:relative;
} */

/* h2 */
.shutter div:first-child {
    font-family:'Lato', sans-serif;
    font-size:3.2rem;
    color: white;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    height:48px;
}


/* shutter */
.shutter div:last-child{
    color:white;
    font-family:'Playfair Display', serif;
    font-size:13rem;
    display:block;
    margin-bottom:100px;
}


ul {
    float:right;
    /* width:50%; */
    display:inline-block;
    text-align:right;
    padding-top:2.5%;
    margin:0;
}


ul li {
    display: inline-block; 
}


ul li a { 
    text-decoration: none;
    text-transform:uppercase; 
    color:white;
    font-family:'Lato', sans-serif;
    font-size:1.8rem;
    line-height:1.61;
    margin-left: 17px;
}

.socialMedia {
    margin-top:135px;
}

.socialMedia li {
    display:block;


}


.socialMedia li a {
    display:block;
    width:100px;
    height:25px;
    font-size:2rem;
    line-height:1.3;
    margin-bottom:15px;
    margin-left:0;
} 


/* About shutter section styles */
.aboutShutter {
    background:#f0f5ff;

}

.aboutShutter h2 {
    text-align:center;
    font-family: 'Playfair Display', serif;
    font-size:4.2rem;
    margin:0 auto;
    /* width:470px; */
    /* height:40px; */
    padding:100px 0 30px 0;

}

.aboutShutter p{
    text-align:center;
    font-family: 'Lato', sans-serif;
    font-size:1.8rem;
    width:683px;
    height:85px;
    margin:0 auto;

}

.buttonWrapper{
    width:214px;
    margin: 0 auto;
    padding-bottom: 100px;
}


.findMore {
    height:50px;
    background:#e7a8e6;
    margin-top:30px;
    width:214px;
    font-weight:bold;
    border:none;
}

button span {
        font-family: 'Lato', sans-serif;
        font-size:1.8rem;
        color:#1f2022;
        text-transform:uppercase;
        /* padding: 17px 20px 17px 21px; */

}

.gallerySection {
    background:#fcfcfc;
}

.gallery img {
    margin:100px 3.1% 100px 0;
    width: 31%; /* 400px divided by 80% of 1600 */
}

.gallery img:last-of-type {
    margin-right:0;
}

.midNavSection{
    background: url(../Assets/image-5.png);
    background-size:cover;
    height:300px;
}

.midNav {
    width: 900px; /*900/1600 *100%)*/
    padding-top:100px;
    padding-left:0;
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.midNav li {
    width: 179px;  /* width of li = 900px or 56.5% ; 56.25/4*/
    margin-right: 58px; 
}

.midNav li:last-child {
    margin-right: 0;
}

.midNav li a {
    font-size:4rem;  
    text-align:center;
}

.midNav p {
    margin-top:23.5px;
    font-family:'Playfair Display', serif;
    color:white;
    text-align:center;
    font-size:3rem;
    font-weight:bold;
    /*(60.7px / 900px)*/
}

/* Behind the scenes styles */
.behindSection {
    padding-top:100px;
    height: 515px;
}

.lens{
    width: 67%;
    display:inline-block;
    margin-left:42px;
    
}    

.lens h2 {
    font-size:4.2rem;
    font-family:'PlayfairDisplay', serif;
    text-align:left;
    float:right;
    margin: 0px auto 30px auto;
    width:100%;
}

.lens p {
    text-align:center;
    font-family:'Lato', sans-serif;
    font-size:1.8rem;
    float:right;
    text-align:left;
    width:100%;
    height:160px;
    margin:0 auto;
    line-height:2.9rem;

}


.lens .findMore {
    float:left;
}


.lens button span {
    font-family: 'Lato', sans-serif;
    font-size:1.8rem;
    line-height:1.61;
    text-align:center;
}

.behindSection img {
    float:left;
    max-width: 100%;
}

/* Nature and Scenery Section */
.NatSection {
    max-width:100%;
    max-height:462px;
}

.Nature {
    background:#f0f5ff;
    height:462px;
    width:50%;
    float:left;
}

.innerNature {
    float: right;
    margin: 100px 148px 0 0;
    width:300px;
    /* margin-top: 100px; */
    /* right: 148px;
    position: relative; */
}

.NatSection img {
    height:462px;
    width:50%;
    float:right;
}

.Nature h2, .photography h2 {
    font-familY:'Playfair Display', serif;
    font-size:3.2rem;
    text-align: right;
    margin-top:0;
}

.Nature p, .photography p{
    font-display: 'Lato', sans-serif;
    line-height:1.61;
    text-align:right;
    font-size:1.8rem;
    margin:30px 0 0 0;

}

.readMore {
    font-family: 'Lato', sans-serif;
    font-size:1.8rem;
    font-weight:bold;
    line-height:1.61;
    background:#e7a8e6;
    margin: 30px 0 100px 140px;
    width:160px;
    height:50px;
    text-transform:uppercase;
    border:none;
}
.readMore span {
    padding:0;
}

/* Candid Photography section */
.candidSection {
    width:100%;
}

.photography {
    width:50%;
    background:#f0f5ff;
    float:right;
    height:462px;
}

.photography p{
    text-align:left;
    width:300px;
}
.candidSection img {
    float:left;
    height:462px;
    width:50%;
}

.innerPhotography{
    float:left;
    margin: 100px 0 0 105px;
    width:430px;

}

.photography h2 {
    text-align:left;
}

.photography .readMore {
    margin: 30px 140px 100px 0;
    font-weight:700;
}
/* Aside styles */
.infoSec {
    background:#232323;
    background-size:cover;
}

.infoSec {
    padding: 100px 0 100px 0;
    height:343px;
    
}

.infoSec ul li {
    display:block;
    color:white;
}

.infoSec ul {
    float:none;
    padding:0;
}


h3 {
    text-transform:uppercase;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size:2.4rem;
    font-weight:400;
    margin: 0 0 3px 0;

}

.infoOne {
    width:25%;
    float:left;
    text-align:left;
}

/* .plainText {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    line-height: 1.61;
    font-weight:100;
} */

.plainText {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    line-height: 1.61;
    font-weight:100;
}
.infoTwo p {
    color:white;
    margin:3px 0 11px 0;
}


.infoOne li {
    text-align:left;
}

.infoTwo{
    width:50%;
    float:left;
    text-align:center;
}


.infoThree {
    width:25%;
    float:left;
    text-align:right;
}

.infoThree {
    text-transform:uppercase;
}




input[type=email] {
    width:75%;
    float:left;
    height:50px;
    text-align:left;
    padding-left:32.7px;
    color:#232323;
    border:0;
    margin:11px 0 129px 0;
}

input[type=submit]{
    width:25%;
    margin:0;
    float:left;
    margin-top:11px;
}

footer{
    background:black;
}

h6 {
    color:white;
    margin:0 0 10px 0;
    text-align:center;
    width:100%;
    float:right;
}
